@use "../abstracts";

// ================================ Payment Card ==================================
.payment-card {
  position: relative;
  z-index: 0;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  background: var(--card-bg-color, #1e2e69);

  // aspect-ratio: 281 / 171;

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    pointer-events: none;
  }

  &__top,
  &__bottom {
    display: flex;
    align-items: center;
  }

  &__top {
    gap: 6px;
  }

  &__bottom {
    gap: 40px;
    margin-top: 20px;
  }

  &__icon {
  }

  &__type,
  &__number,
  &__label,
  &__value {
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
  }

  &__type {
    font-size: 1.4rem;
    line-height: 142.857%;
  }

  &__number {
    margin-top: 37px;
    font-size: 1.8rem;
    line-height: 142.857%;
  }

  &__label {
    font-size: 0.8rem;
    line-height: 175%;
  }

  &__value {
    font-size: 1rem;
    line-height: 140%;
  }

  &__circle {
    position: relative;
    margin-left: auto;
  }
}

// ================================ Add New Payment Card ==================================
.new-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;

  height: 100%;
  min-height: 170px;
  border-radius: 10px;
  border: 1px dashed var(--payment-card-border-color);
  cursor: pointer;

  &__icon {
  }

  &__text {
    color: #d2d1d6;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 142.857%;
  }
}
