<div class="container">
  <div class="footer__row">
    <!-- Footer Column 1 -->
    <div class="footer__col">
      <!-- Logo -->
      <div class="footer__logo-box">
        <a href="./" class="logo">
          <img src="./assets/icons/logo.svg" alt="Grocery" class="logo__img" />
          <h1 class="logo__title">grocerymart</h1>
        </a>
      </div>

      <p class="footer__desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, dolores
        dicta? Nobis consectetur tempore, magni dolorem facilis sint! Ad,
        necessitatibus.
      </p>

      <form action="" class="footer__form">
        <label for="" class="footer__form-label">
          Receive product news and updates.
        </label>
        <div class="footer__form-group">
          <input
            type="text"
            placeholder="Email address"
            class="footer__form-input"
          />
          <button class="btn btn--primary footer__form-submit">
            <img
              src="./assets/icons/arrow-back.svg"
              alt=""
              class="footer__form-icon"
            />
          </button>
        </div>
      </form>
    </div>

    <!-- Footer Column 2 -->
    <div class="footer__col">
      <h2 class="footer__heading">Shop</h2>
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#!" class="footer__link">Departments</a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link">Fashion Deals</a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link">Electronics Discounts</a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link">Home & Living Specials</a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link">Beauty Bargains</a>
        </li>
      </ul>
    </div>

    <!-- Footer Column 3 -->
    <div class="footer__col">
      <h2 class="footer__heading">Support</h2>
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#!" class="footer__link">Store Locator</a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link">Order Status</a>
        </li>
      </ul>
    </div>

    <!-- Footer Column 4 -->
    <div class="footer__col">
      <h2 class="footer__heading">Company</h2>
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#!" class="footer__link">Customer Service</a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link">Terms of Use</a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link">Privacy</a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link">Careers</a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link">About</a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link">Affiliates</a>
        </li>
      </ul>
    </div>

    <!-- Footer Column 5 -->
    <div class="footer__col">
      <h2 class="footer__heading">Contact</h2>
      <ul class="footer__list">
        <li class="footer__item">
          <p class="footer__label">Email</p>
          <a href="mailto:contact@grocerymart.com" class="footer__link">
            contact@grocerymart.com
          </a>
        </li>
        <li class="footer__item">
          <p class="footer__label">Hotline</p>
          <a href="tel:18009999" class="footer__link">18009999</a>
        </li>
        <li class="footer__item">
          <p class="footer__label">Address</p>
          <p class="footer__text">
            No.123 Tran Phu Street, Tan Hoa Ward, Tan Binh District, Ho Chi Minh
            City
          </p>
        </li>
        <li class="footer__item">
          <p class="footer__label">Hours</p>
          <p class="footer__text">M - F 08:00am - 06:00pm</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__bottom">
    <p class="footer__copyright">
      © 2010 - 2025 Grocery Mart. All rights reserved.
    </p>

    <div class="footer__socials">
      <a href="#!" class="footer__social-link" style="--color: #4867aa">
        <img
          src="./assets/icons/facebook.svg"
          alt=""
          class="footer__social-icon"
        />
      </a>

      <a
        href="#!"
        class="footer__social-link"
        style="
          --color: linear-gradient(
            45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%
          );
        "
      >
        <img
          src="./assets/icons/instagram.svg"
          alt=""
          class="footer__social-icon"
        />
      </a>

      <a href="#!" class="footer__social-link" style="--color: #ff0000">
        <img
          src="./assets/icons/youtube.svg"
          alt=""
          class="footer__social-icon"
        />
      </a>

      <a href="#!" class="footer__social-link" style="--color: #000000">
        <img
          src="./assets/icons/tiktok.svg"
          alt=""
          class="footer__social-icon"
        />
      </a>

      <a href="#!" class="footer__social-link" style="--color: #08a0e9">
        <img
          src="./assets/icons/twitter.svg"
          alt=""
          class="footer__social-icon"
        />
      </a>
    </div>
  </div>
</div>
